<% layout('layouts/boilerplate') -%>


    <body>
        <h1>All Listings</h1>

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
            <% for(let listing of allListings) { %>
                <div class="col">
                    <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="ImageProblem" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <h5 class="card-title">
                               <b> <%= listing.title %> </b>
                               <!-- <p>Image URL: <%= listing.image %></p> -->

                            </h5>
                            <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %> / night</p>
                        </div>
                    </div>
                    </a>
                </div>
                <% } %>
        </div>

    </body>